streamlit
gensim
transformers
joblib
scikit-learn
numpy
pandas
requests
nltk
xgboost
torch==1.10.0+cpu
torchvision==0.11.1+cpu
torchaudio==0.10.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
