streamlit
gensim
transformers
joblib==1.2.0
scikit-learn==0.24.2
numpy
pandas
requests
nltk
xgboost
torch==1.13.1
torchvision==0.11.1+cpu
torchaudio==0.10.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
